/* --------------------------------------------------*/
/*BASIC SETUP*/
/* --------------------------------------------------*/

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
    color: #555;
    font-size: 20px;
    font-weight: 300;
    overflow-x: hidden
}

/*.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}*/
/*Above clears the float after an element needs to be added the parent of the items with the float*/

/* --------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/* --------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section { height: 70vh; }

/* -----HEADINGS-----*/
h1,
h2,
h3,
h4 {
    font-weight: 400;
    text-transform: uppercase;
    color: red;
}

h1 {
    margin: 0 0 5px 0;
    font-size: 10vh;
    word-spacing: 4px;
    letter-spacing: 7px;
}

h2 {
    color: #343434;
    font-size: 8vh;
    word-spacing: 2px;
    text-align: left;
    margin-bottom: 30px;
}

h3 {
    font-size: 5vh;
    margin-bottom: 15px;
}

h4 {
    font-size: 3vh;
    margin: 0 auto;
    letter-spacing: 6px;
}

/* -----BUTTONS-----*/
.btn:link,
.btn:visited,
input[type=submit] {
    font-size: 2vh;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    border: 1px solid #343434;
    color: #343434;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #343434;
    border: 1px solid #343434;
    color: #fff;
}

/* -----INFO-----*/
.animated-text {
    position: fixed;
}

.info-container {
    width: 100%;
}

.hide {
    display: none;
}

/* --------------------------------------------------*/
/*HEADER*/
/* --------------------------------------------------*/

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(backgrounds/intro-background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(backgrounds/intro-background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-text {
top: 40vh;
left: 25%;
}



/* --------------------------------------------------*/
/*ABOUT*/
/* --------------------------------------------------*/

 .about-container {
    height: 100%;
    background-image: url(backgrounds/about.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    padding-bottom: 0;
}

.about-text {
    top: 20vh;
    padding: 10% 0 0 10%;
    color: red;
    width: 60%;
}

.about-text h2 {
    margin-top: 0;
}

/* --------------------------------------------------*/
/*PORTFOLIO*/
/* --------------------------------------------------*/
#portfolio {
      background-color: #343434;
}

#portfolio-text{
top: 33%;
left: 40%;
z-index: 9999;
}

#portfolio-text h2,
#portfolio-text p {
    text-align: center;
    color: red;
}

.portfolio-container {
   height: 100%;
   background-image: url(backgrounds/portfolio-background.png);
   background-repeat: no-repeat;
   background-position: bottom left;
   background-size: contain;
   padding-bottom: 0;
   /*background-attachment: fixed;*/
}

#portfolio-text .btn:link,
#portfolio-text .btn:visited,
input[type=submit] {
margin-left: 35%;
    color: #343434;
    border: 1px solid #fff;
    color: #fff;
}

#portfolio-text .btn:hover,
#portfolio-text .btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    left: 10%;
    background-color: #fff;
    border: 1px solid #fff;
    color: #343434;
}

/* --------------------------------------------------*/
/*CONTACT*/
/* --------------------------------------------------*/



/* --------------------------------------------------*/
/*ANIMATE*/
/* --------------------------------------------------*/

.ng-hide{
  display: block!important;
  visibility: hidden;
}

.header-text.ng-hide-add {
  animation:0.5s fadeOut ease;
  visibility: visible;
}
.header-text.ng-hide-remove {
  animation:0.5s fadeIn ease;
}

.about-text.ng-hide-add {
  animation:0.5s fadeOut ease;
  visibility: visible;
}
.about-text.ng-hide-remove {
  animation:0.5s fadeIn ease;
}
